{:base-url #or [#env BASE_URL "http://localhost:3000"]
 :protocol "http"
 :domain   "localhost:3000"
 :port     #long #or [#env PORT 3000]
 :db       {:dbtype   "postgresql"
            ; :dbname "ti"
            :port     #long #or [#env PGPORT 5432]
            :host     #env PGHOST
            :user     #env PGUSER
            :password #env PGPASSWORD}}
