{:base-url         #join [#ref [:protocol] "://" #ref [:base-uri]]
 :base-uri         #base-uri [#ref [:domain] #ref [:port]]
 :protocol         "https"
 :default-protocol "https"
 :domain           #or [#env DOMAIN "localhost"]
 :port             #long #or [#env PORT 3000]
 :db               {:dbtype   "postgresql"
                    :port     #long #or [#env PGPORT 5432]
                    :host     #env PGHOST
                    :user     #env PGUSER
                    :password #env PGPASSWORD}}
